
  <div class="messageBox errorBox" *ngIf="Hotels.error != null">
      <p>Error in handling your request: {{Hotels.error.message}}</p>
    </div>

    <div class="messageBox" *ngIf="Hotels.error == null && Hotels.hotelList.length == 0">
        <p>Sorry, No Hotels found...!</p>
    </div>

    <div class="tableHolder" *ngIf="Hotels.error == null && Hotels.hotelList.length > 0">

        <table class="table table-striped" [mfData]="Hotels.hotelList" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
            <tr>
                <th style="width: 30%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 35%">
                    <mfDefaultSorter by="categories">Categories</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="country">Country</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                    <mfDefaultSorter by="city">City</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="reviewsRating">Rating</mfDefaultSorter>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data">
                <td><a [routerLink]="['/search/details']" [queryParams]="{ name: item.name}"> {{item.name}} </a></td>
                <td>{{item.categories}}</td>
                <td>{{item.country}}</td>
                <td>{{item.city | uppercase}}</td>
                <td>{{item.reviewsRating}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>


